div {
        font-family:"Roboto+Condensed", serif;
        font-size:16px;
      }
body {
        font-family:"Montserrat", serif;
        font-size:15px;
      }
      h1,h2,h3 {
        font-family:"Charmonman";
      }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left; 
}
.outer-box {
      background-color:grey;
      margin:10px;
      padding:10px;
      min-height:300px;
    }
.name {
      color:white;
      font-family:Tahoma;
      margin-left:20px;
    }
.picture {
      margin-left:20px;
      float:left;
      margin-right:20px;
      margin-bottom:10px;
      border:2px solid black;
    }
.bio {
      font-family:Tahoma;
      padding-left:20px;
      padding-right:20px;
      padding-bottom:20px;
    }
img {
      display:block;
    }
h3  {
      background-color:#ffff00  
    }
h1  {
      color:red
}
ul {
  list-style-type:square
}
#ad {
  float: right;
  margin-right: 10px;
  width: 300px;
  height: 250px
   
}
